[package]
name = "revelation-logs"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
walkdir = "2"
evtx = "0.8.5"
sigma-rust = { version = "0.7.0", features = ["serde_json"] }
